[user]
	name  = Serghei Cebotari
	email = cebotariserghei@gmail.com
[include]
	path = ~/.gitconfig_local
[fetch]
	prune = true
[merge]
	#Refuse to merge and exit with a non-zero status unless the current HEAD is already
	#up-to-date or the merge can be resolved as a fast-forward
	ff    = only
	tool  = meld
[pull]
	ff    = only
[push]
	#Push the current branch back to the branch whose changes are usually integrated into the current branch
	default = simple
[alias]
	aa    = add --all
    bl    = blame
    bs    = bisect
	co    = checkout
	cob   = checkout -b
	cod   = checkout develop
	com   = checkout master
	cm    = commit
	cma   = commit --all
	cmm   = commit --amend
	df    = diff
	ds    = diff --staged
	dw    = diff --word-diff
	ft    = fetch
	fta   = fetch --all
	st    = status
	sts   = status -s
	sh    = stash
	sha   = !git add -A && git stash
	shd   = stash drop
	shl   = stash list
	shp   = stash pop
	br    = branch
	brl   = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
	brd   = branch -d
	brdl  = branch -d @{-1}
	brD   = branch -D
	brDl  = branch -D @{-1}
	rb    = rebase
	rbi   = rebase --interactive
	rba   = rebase --abort
	rbc   = rebase --continue
	rs    = reset
	rsh   = reset --hard
	rsl   = reset HEAD^
	pl    = pull
	plr   = pull --rebase
	ps    = push
	psf   = push -f
	psu   = push -u
	psoh  = push -u origin HEAD
	mg    = merge
	rt    = remote
	rtv   = remote -v
	rta   = remote add
	rtr   = remote remove
	rtd   = remote remove
	rtm   = remote rename
	type  = cat-file -t
	stats = shortlog -sn --all --no-merges
	hist  = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	ls    = log --pretty=format:"%C(yellow)%h%Cred%d\\ %C(white)%s%Cgreen\\ [%cn]" --decorate
	today = log --pretty=format:"%Cgreen%cd\\ %C(yellow)%h\\ %Creset%s" --date=format:%T --since=00:00:00 --all --no-merges --author=cebotariserghei@gmail.com
	wip   = !git commit --no-verify -m "WIP"
	ww    = !git-open    
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = red
[core]
	excludesfile = ~/.gitignore
[diff]
	tool = meld
