[submodule "vim/.vim/bundle/auto-pairs"]
	path = vim/.vim/bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-colorschemes"]
	path = vim/.vim/bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "vim/.vim/bundle/editorconfig"]
	path = vim/.vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/.vim/bundle/nerdtree-git-plugin"]
	path = vim/.vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
