#NAVIGATION
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias ~="cd ~"
alias -- -="cd -"

#SHORTCUTS
alias b="brew"
alias d="docker"
alias dc="docker compose"
alias f="vifm"
alias g="git"
alias lg="lazygit"
alias mx="tmuxinator"
alias o="open"
alias pn="pnpm"
alias sa="sencha"
alias t="tmux"
alias v="nvim"
alias w="(){ nohup webstorm "${1:-.}" >/dev/null 2>&1 & }"
alias y="yarn"
alias yt="yt-dlp"
alias ytmp3="yt-dlp --extract-audio --audio-format mp3"

#FILE LISTING
#Long form no user group, color
alias l="ls -oG"
#Order by last modified, long form no user group, color
alias lt="ls -toG"
#List all except . and ..., color, mark file types, long form no user group, file size
alias la="ls -AGFoh"
#List all except . and ..., color, mark file types, long form no use group, order by last modified, file size
alias lat="ls -AGFoth"

#TRICKS
#Hide/show all desktop icons (useful when presenting)
alias showdeskicons="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias hidedeskicons="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
#Simulate macOS's "open", "pbcopy", and "pbpaste" commands on other platforms
if [ ! $(uname -s) = "Darwin" ]; then
    alias open='xdg-open &>/dev/null'
    alias pbcopy='xclip -selection clipboard'
    alias pbpaste='xclip -selection clipboard -o'
fi
alias cpwd="pwd | tr -d '\n' | pbcopy"

#Add system specific aliases
if [ -f ~/.aliases_local ] ; then
    . ~/.aliases_local
fi
