# converts a gif image to a mp4 video
gif2video() {
  ffmpeg -f gif -i "$1" gif2video.mp4;
}

# converts a video to a gif image
video2gif() {
  ffmpeg -i "$1" -pix_fmt rgb8 -r 10 video2gif.gif && gifsicle -O3 video2gif.gif -o video2gif.gif;
}

# makes a directory and cds inside
mkcd () {
  \mkdir -p "$1"
  cd "$1"
}

# get notified when the previous command finishes
notify() {
  # Gets the last command from history, stripping the leading line numbers
  local last_cmd=$(fc -ln -1 -1)
  
  # Escape double quotes to prevent AppleScript syntax syntax breaks
  last_cmd=$(echo "$last_cmd" | sed 's/"/\\"/g')

  osascript -e "display notification \"$last_cmd\" with title \"Task Finished\" sound name \"Glass\""
}
