# converts a gif image to a mp4 video
gif2video() {
  ffmpeg -f gif -i "$1" gif2video.mp4;
}

# converts a video to a gif image
video2gif() {
  ffmpeg -i "$1" -pix_fmt rgb8 -r 10 video2gif.gif && gifsicle -O3 video2gif.gif -o video2gif.gif;
}
