snippet eic
initComponent() {
	$0

	this.callParent();
},
endsnippet

snippet ecp
this.callParent(${1:arguments});
endsnippet

snippet emoc
Ext.mixin.Observable.capture(this$1, function() {
	console.log(arguments$2);
});
endsnippet
