snippet fu "anonymous function" i
function($1) {$2}
endsnippet

snippet fa "arrow function" i
($1) => {$2}
endsnippet

snippet cl
console.log($1);
endsnippet

snippet cla
console.log(arguments);
endsnippet
