snippet fu "Anonymous function" i
function($1) {$2}
endsnippet

snippet fa "Arrow function" i
($1) => {$2}
endsnippet

snippet fcc "Function context call" i
call(this$1);
endsnippet

snippet fca "Function context apply" i
apply(this$1, arguments$2);
endsnippet

snippet iife "Immediately-Invoked Function Expression"
(function(${1:window}) {
	${VISUAL}$0
}(${2:$1}))
endsnippet

snippet cl
console.log(${1:${VISUAL}})
endsnippet

snippet cla
console.log(arguments);
endsnippet
